<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.service.user_service.user.mapper.UserMapper">

    <select id="showUser" parameterType="com.service.user_service.user.dto.ShowUserReqDto" resultType="com.service.user_service.user.dto.ShowUserResDto">
        SELECT id, name, age
        FROM user
        WHERE id = #{id}
    </select>

    <select id="showAllUsers" resultType="com.service.user_service.user.dto.ShowUserResDto">
        SELECT id, name, age
          FROM user
    </select>

</mapper>